.nav-left-item {
  font-size: 20px;
  color: black;
  font-family: "Montserrat";
  letter-spacing: 5px;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
  transform: rotate(0deg);
  padding-right: 55px;
  padding-left: 20px;

}

.nav-left {
  position: static;
  width: 100%;
  height: auto;
  padding-bottom: 0px;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-line {
  width: 100px;
  height: 2px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: black;
}

h1 {
  font-size: 180px;
  margin-bottom: 0;
  color:black;
}

h2 {
  font-size: 70px;
  margin-top: 0px;
  margin-left: 10px;
}

header {
  background-color: whitesmoke;
  font-family: "El Messiri";
  margin-left: 10px;
  display: flex;
  height: auto;
  width: 100%;
  margin-top: 40px;
}

body {
  background-color: whitesmoke;
}

.about-me {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: -70px;
  margin-bottom: 30px;
  font-family: "Montserrat";
  font-size: 30px;
}

h3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "El Messiri";
  font-size: 50px;
}

.img-bali {
  display: flex;
  flex-direction: row;
  height: 700px;
  width: 500px;
  justify-content: space-evenly;
  margin-right: 100px;
  flex-grow: 1;
}

.row-left-items {
  padding-left: 80px;
}

.about-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 20px;
}

li {
  list-style: none;
}

.project-img-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.go-girl-img {
  width: 50%
}

h4 {
  font-size: 30px;
  font-family: "Montserrat";
}

.proj-det {
  font-size: 25px;
  font-family: "Montserrat";
  width: 50%;

}


footer {
  display: flex;
  flex-direction: column;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  font-family: "Montserrat";
  letter-spacing: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

i {
margin-right: 5px;
}